<html>
	<head>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="stylesheet" href="css/main.css" type="text/css" />
		<script src='js/lib/angular.min.js'></script>
		<script src="js/main.js"></script>
		<script></script>
	</head>
	<body ng-app="iphonotype" ng-controller="mainController as mc" ng-class="{light: mode=='normal', dark: mode=='dark'}">
		<div class="home_cont"  ng-show="state == 'home'">
		
			<div class="mode_cont">
				<ul>
					<li ng-click="mc.set_mode('normal')" ng-class="{selected: mode=='normal'}">Normal</li>
					<li ng-click="mc.set_mode('dark')" ng-class="{selected: mode=='dark'}">Dark Room</li>
				</ul>
			</div>

			<div class="test_params">
				<h3>Test table params</h3>
				<h5>Exposure time:</h5>
				<div>from <input type="text" ng-model="min_time"/> ms</div>
				<div>to <input type="text" ng-model="max_time"/> ms</div>
				<div>number of steps <input type="text" ng-model="test_steps"/></div>
				<div>margin <input type="text" ng-model="test_strip_margin"/>%</div>
				<div>steps in scale <input type="text" ng-model="steps_in_scale"/></div>
				<div>wait before test start<input type="text" ng-model="before_test_delay"/></div>
				<div>wait after test end<input type="text" ng-model="after_test_delay"/></div>
				<div>table style <select ng-model="table_style"><option value="0" ng-selected="true">negative</option><option value="1" >positive</option></select></div>
				<button ng-click="mc.begin_test()">start</button>
			</div>
			<div class="print_params ng-dropdownList">
				<h3>Print params</h3>
				<div>Print url <input type="text" ng-model="print_url" recent-images/></div>
				<div>Example images:
					<select ng-model="print_url">
						<option value="files/examples/tree.jpg">Black and White: Tree</option>
						<option value="files/examples/evpatoria.jpg">Black and White: Evpatoria</option>
						<option value="files/examples/rails.jpg">Black and White: Rails</option>
						<option value="files/examples/tree2.jpg">Black and White: Tree surface</option>
						<option value="files/examples/trees_and_water.jpg">Black and White: Trees over Water</option>
						<option value="files/examples/trees_and_water2.jpg">Black and White: Trees over Water2</option>
						<option value="files/examples/stones.jpg">Color: Stones</option>
					</select>
				</div>
				<div>Exposure time <input type="text" ng-model="print_exposure_time"/></div>
				<div>Delay before exposure <input type="text" ng-model="before_print_delay"/></div>
				<div>Delay after exposure <input type="text" ng-model="after_print_delay"/></div>
				<div>invert <input type="checkbox" ng-model="invert_print" /></div>
				<div>grayscale <input type="checkbox" ng-model="grayscale_print" /></div>
				<button ng-click="mc.begin_print()">start</button>
			</div>
		</div>
		<div ng-show="state == 'screen'">
			<canvas id="screen"></canvas>
		</div>
	</body>
</html>